<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Add New Sales Order</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" id="_Add_New_Sales_Order_Form_Remover_"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="nav-tabs-custom box_shadow_none">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs nav_tabs_for_new_sales nav_tabs_new_custom_bg">
                <li class="active"><a href="#s-general-dtls" data-toggle="tab">Sales Order Details</a></li>
                @*<li class="pull-right header"><i class="fa fa-inbox"></i> Sales</li>*@
            </ul>
            @Html.AntiForgeryToken()
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div class="chart tab-pane active" id="s-general-dtls" style="position: relative; height: auto;">
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Item Name : <span style="color:red">*</span></label>
                                <select class="form-control select2 ItemsDropdown" id="get_searched_items" style="width:100%;" tabindex="1" name="new_item_Name"></select>
                                <button type="button" class="btn btn-default pull-right" id="_Add_New_Item_Pop_" data-toggle="modal" data-target="#modal-AddNewItem">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Customer Name : <span style="color:red">*</span></label>
                                <select class="form-control select2 CustomerDropdown" id="get_searched_customers" style="width:100%;" tabindex="2" name="new_customer_Name"></select>
                                <button type="button" class="btn btn-default pull-right" id="_Add_New_Customer_Pop_" data-toggle="modal" data-target="#modal-AddNewCustomer">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Quantity : <span style="color:red">*</span></label>
                                <input type="number" class="form-control" value="0" tabindex="3" name="new_item_Quantity">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Unit : </label>
                                <input type="text" class="form-control" value="" tabindex="3" name="new_item_Msrmnt_Unit" disabled>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Unit Price (PKR) : <span style="color:red">*</span></label>
                                <input type="number" class="form-control" value="0" tabindex="4" name="new_item_Unit_Price">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Total : </label>
                                <input type="number" class="form-control" value="0" tabindex="4" name="new_item_Price_Total" disabled>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-1">
                            <label style="color:white;"> - </label>
                            <div class="form-group">
                                <input type="submit" id="Add_New_SalesOrder_Item" style="display:block;" tabindex="5" class="btn btn-info" value="Add">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="New_SaleOrder_list" class="table table-bordered nowrap" cellspacing="0">
                                    <thead>
                                        <tr style="background-color: #FAF9F9; ">
                                            <th>Item Name</th>
                                            <th>Customer Name </th>
                                            <th>Item Quantity</th>
                                            <th>Item Measurement Unit</th>
                                            <th>Item Unit Price</th>
                                            <th>Total Price</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="_tbl_New_SaleOrder_Body_"></tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th colspan="2" style='text-align:center;' id="_SalesOrder_Items_Total_">Total = <span></span></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>

        <!-- /.row -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button id="_Add_New_Sales_Order_Form_Remover__" class="btn btn-default">Cancel</button>
        <button id="_Add_New_Sales_Order_Form_Draft_" class="btn btn-info pull-right">Save as Draft</button>
        <button id="_Add_New_Sales_Order_Form_Save_" class="btn btn-info pull-right">Save and Confirm</button>
    </div>
</div>

<script src="@Url.Content("~/Resources/js/Admin/SalesOrderI.js")"></script>