@using G_Accounting_System.Models
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/_Shared/_LayoutOne.cshtml";
}


@Html.AntiForgeryToken()

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile padding_bottom_none">

                    <img class="profile-user-img img-responsive img-circle" id="vp__employee_image" alt="User profile picture">
                    <h3 class="profile-username text-center" id="ep__employee_name"></h3>
                    <p class="text-muted text-center" id="ep__employee_designation"></p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Status</b> <a class="pull-right" id="vp__employee_status"></a>
                        </li>
                        <li class="list-group-item">
                            <b>Mobile</b> <a class="pull-right" id="ep__employee_mobile"></a>
                        </li>
                        <li class="list-group-item">
                            <b>Phone</b> <a class="pull-right" id="ep__employee_phone"></a>
                        </li>
                        <li class="list-group-item">
                            <b>Email</b> <a class="pull-right" id="ep__employee_email"></a>
                        </li>
                        <li class="list-group-item">
                            <b>Website</b> <a class="pull-right" id="ep__employee_website"></a>
                        </li>
                        <li class="list-group-item border_bottom_0px_ padding_bottom_none">
                            <button type="button" class="btn btn-block btn-danger" onclick='DelEmployee(this)' id="PDeleteEmployee">Delete</button>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
           
        </div>
        <!-- /.col -->
        <div class="col-md-6">

            <div class="alert alert-success alert-dismissible" id="_Success_Message_Display_" style="display:none; margin:5px;">
                <h4><i class="icon fa fa-check"></i> Message !</h4> <p></p>
            </div>

            <div class="alert alert-danger alert-dismissible" id="_Error_Message_Display_" style="display: none; margin: 5px;">
                <button type="button" class="close" id="_Error_Message_Display_Btn_">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4> <p></p>
            </div>

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                    @*<li><a href="#settings" data-toggle="tab">Update Information</a></li>*@
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <!-- The timeline -->
                        <ul class="timeline timeline-inverse ACTIVITY">
                            <!-- timeline time label -->
                            
                        </ul>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="settings">
                        <form class="form-horizontal">
                            <input type="hidden" name="employees_id">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">Salutation : </label>
                                <div class="col-sm-9">
                                    <select class="form-control select2" style="width:100%;" name="Salutation">
                                        <option value="1">Mr.</option>
                                        <option value="2">Mrs.</option>
                                        <option value="3">Ms.</option>
                                        <option value="4">Miss</option>
                                        <option value="5">Dr.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">Full Name : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Full_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-3 control-label">Company Name : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Company_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">Designation : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Designation">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputExperience" class="col-sm-3 control-label">Contact Phone (Landline) : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" tabindex="5" name="Contact_phone_landline">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">Contact Phone (Mobile) : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Contact_phone_mobile">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">Contact Email : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Contact_email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">Website : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Website">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">Address : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">Phone : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Address_phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">City : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Address_city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">Country : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Address_country">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">Bank A/C Number : </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="Bank_account_number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">Payment Method </label>
                                <div class="col-sm-9">
                                    <select class="form-control select2" style="width:100%;" name="Payment_method">
                                        <option value="1">Cheque</option>
                                        <option value="2">Cash</option>
                                        <option value="3">Card</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-3 control-label">Status : </label>
                                <div class="col-sm-9">
                                    <select class="form-control select2" style="width:100%;" name="C_Status">
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" class="btn btn-success" id="Update_Existing_Employee">Update Information</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
        <div class="col-lg-3">
            <!-- Location Detail Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Location Information</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-map-marker margin-r-5"></i>Company Name</strong>
                    <p class="text-muted" id="ep__employee_company_name"></p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i>Address</strong>
                    <p class="text-muted" id="ep__employee_address"></p>
                    <hr>
                    <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>
                    <p class="text-muted" id="ep__employee_address_phone"></p>
                    <hr>
                    <strong><i class="fa fa-building-o margin-r-5"></i>City</strong>
                    <p class="text-muted" id="ep__employee_address_city"></p>
                    <hr>
                    <strong><i class="fa fa-flag margin-r-5"></i>Country</strong>
                    <p class="text-muted" id="ep__employee_address_country"></p>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Payment Information</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-bank margin-r-5"></i>Bank A/C Number</strong>
                    <p class="text-muted" id="ep__employee_bank_account_number"></p>
                    <hr>
                    <strong><i class="fa fa-money margin-r-5"></i>Payment Method</strong>
                    <p class="text-muted" id="ep__employee_payment_method"></p>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
