<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>VendorName </label>
            <input type="text" class="form-control" tabindex="1" name="BvendorName" readonly />
        </div>
        <!-- /.form-group -->
    </div>
    <div class="col-md-3">

        <div class="form-group">
            <label>Order No : </label>
            <input type="text" class="form-control" tabindex="3" name="BorderNo" readonly>

            <!-- /.form-group -->
        </div>
        <!-- /.col -->
    </div>
    <div class="col-md-3">

        <div class="form-group">
            <label>Bill No : </label>
            <input type="text" class="form-control" tabindex="2" readonly name="BbillNo">

            <!-- /.form-group -->
        </div>
        <!-- /.col -->
    </div>
    
    <div class="col-md-3">

        <div class="form-group">
            <label>Bill Date : </label>
            <input type="text" class="form-control disblefuturedatepicker" tabindex="4" name="BbillDate" value="@DateTime.Now.Date.ToString("dd/MM/yyyy")">

            <!-- /.form-group -->
        </div>
        <!-- /.col -->
    </div>
    <div class="col-md-3">

        <div class="form-group">
            <label>Due Date : </label>
            <input type="text" class="form-control datepicker" tabindex="5" name="BdueDate" value="@DateTime.Now.Date.ToString("dd/MM/yyyy")">

            <!-- /.form-group -->
        </div>
        <!-- /.col -->
    </div>
    <input type="hidden" id="recdate"/>
</div>
    <div class="row">
        <div class="col-md-12">

            <table id="tblBitemList" class="table table-bordered nowrap" cellspacing="0">
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="Bitemslistbody"></tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">

        </div>
        <!-- /.col -->
        <div class="col-xs-6">

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:43%">Subtotal:</th>
                        <td id="Bsubtotal"></td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td id="Btotal"></td>
                    </tr>
                </table>

            </div>
        </div>
        <!-- /.col -->

    </div>

    <script src="@Url.Content("~/Resources/js/Admin/PurchaseI.js")"></script>
